In [1]:
l=[]

In [5]:
eval("l.append(3)")

In [6]:
l

[2, 2, 3]

In [16]:
s='shubham rukhaiyar'

In [13]:
s1=''.join(s)

In [14]:
s1

's ,h ,u ,b ,h ,a ,m ,  ,r ,u ,k ,h ,a ,i ,y ,a ,r'

In [15]:
myTuple = ("John", "Peter", "Vicky")

x = "#".join(myTuple)

print(x)

John#Peter#Vicky

In [20]:
l=[]
for i in range(0,len(s)):
    for j in range(i,len(s)):
        l.append(s[i:j+1])

In [31]:
def minion_game(string):
    # your code goes here
    stuartScore=0
    kevinScore=0
    subString=[]
    for i in range(0,len(string)):
        for j in range(i,len(string)):
            subString.append(string[i:j+1])
    
    print(subString)
    uniqueSub=set(subString)
    print(uniqueSub)
    for word in uniqueSub:
        if word[0] in ['A','E','I','O','U']:
            print(word,subString.count(word))
            kevinScore+=subString.count(word)
        else:
            stuartScore+=subString.count(word)
    print(kevinScore,stuartScore)
    if kevinScore>stuartScore:
        print("Kevin "+str(kevinScore))
    else:
        print("Stuart "+ +str(stuartScore))

In [32]:
minion_game('BANANA')

['B', 'BA', 'BAN', 'BANA', 'BANAN', 'BANANA', 'A', 'AN', 'ANA', 'ANAN', 'ANANA', 'N', 'NA', 'NAN', 'NANA', 'A', 'AN', 'ANA', 'N', 'NA', 'A']
{'BAN', 'BANAN', 'B', 'BANA', 'ANA', 'NAN', 'NANA', 'BA', 'ANAN', 'NA', 'N', 'AN', 'BANANA', 'ANANA', 'A'}
ANA 2
ANAN 1
AN 2
ANANA 1
A 3
12 9
Kevin 12

In [33]:

from itertools import product
 
def cartesian_product(arr1, arr2):
 
    # return the list of all the computed tuple
    # using the product() method
    return list(product(arr1, arr2))
   
# Driver Function
if __name__ == "__main__":
    arr1 = [1, 2, 3]
    arr2 = [5, 6, 7]
    print(cartesian_product(arr1, arr2))

[(1, 5), (1, 6), (1, 7), (2, 5), (2, 6), (2, 7), (3, 5), (3, 6), (3, 7)]

In [4]:
shoeSizes=[int(input()) for i in range(0,10)]

2
2
2
2
2
2
2
2
2
2

In [3]:
shoeSizes

['1', '2', '3', '5', '5', '5', '6', '6', '5', '6']

In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\shiva\anaconda3\lib\site-packages (8.0.23)
Collecting protobuf>=3.0.0
  Downloading protobuf-3.19.4-cp38-cp38-win_amd64.whl (895 kB)
Installing collected packages: protobuf
Successfully installed protobuf-3.19.4

In [2]:
import mysql.connector as conn

In [4]:
mydb=conn.connect(host='localhost',user='root',password='root')

In [5]:
cursor=mydb.cursor()

In [9]:
cursor.execute('SHOW DATABASES')

In [10]:
cursor.fetchall()

[('dashboard',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('testineuron',),
 ('world',)]

In [8]:
cursor.execute('CREATE DATABASE TESTINEURON')

In [11]:
cursor.execute('USE TESTINEURON')

In [14]:
cursor.execute('create table TESTINEURON.ineuron(studentId INT(10), firstName VARCHAR(30),lastName VARCHAR(30), regId INT(10),className VARCHAR(30));')

In [27]:
cursor.execute('SHOW tables')

In [28]:
cursor.fetchall()

[('glassdata',), ('ineuron',)]

In [19]:
cursor.execute("insert into TESTINEURON.ineuron values(1,'Shivam','Rukhaiyar',1,'FSDS')")

In [20]:
cursor.execute('select * from TESTINEURON.ineuron')

In [21]:
cursor.fetchall()

[(1, 'Shivam', 'Rukhaiyar', 1, 'FSDS')]

In [22]:
mydb.commit()

In [66]:
cursor.execute("create table TESTINEURON.GlassData(col1 INT(10), col2 float(10,5) ,col3 float(10,5), col4 float(10,5), col5 float(10,5), col6 float(10,5), col7 float(10,5), col8 float(10,5), col9 float(10,5), col10 float(10,5), col11 INT(10));")

In [67]:
dataFile=open('D:\iNeuronAssignment\glass.data','r')

In [68]:
dataLines=dataFile.read()

In [69]:
dataLines=dataLines.split('\n')

In [72]:
dataLines[-1]

''

In [71]:
try:
    for data in dataLines:
        query='insert into GlassData values(%s);'%(data)
        cursor.execute(query)
    else:
        mydb.commit()
except Exception as e:
    print(e)

In [83]:
s="BANANA FRIES 12"
d=s.split(" ")
if len(d)>2:
    print(" ".join(d[:-1]))

BANANA FRIES

In [84]:
cursor.execute('UPDATE TESTINEURON.GlassData SET col11=99 WHERE col1=1')

In [86]:
mydb.commit()

In [1]:
import mysql.connector  as conn

In [2]:
db=conn.connect(host='localhost',username='root',password='root')

In [3]:
cursor=db.cursor()

In [8]:
cursor.execute('SHOW DATABASES')

In [9]:
cursor.fetchall()

[('dashboard',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('testineuron',),
 ('world',)]

In [10]:
cursor.execute('use testineuron')

In [40]:
cursor.execute("CREATE TABLE cardata (buying VARCHAR(10),maint VARCHAR(10),doors VARCHAR(10),persons VARCHAR(10),lug_boot VARCHAR(10),safety VARCHAR(10),tempCol VARCHAR(10))")

In [41]:
dataFile=open('D:\iNeuronAssignment\car.data','r')
dataLines=dataFile.read()
dataLines=dataLines.split('\n')
try:
    for data in dataLines:
        query='insert into testineuron.cardata (buying,maint,doors,persons,lug_boot,safety,tempCol) values(%s);'%("'"+data.replace(',',"','")+"'")
        cursor.execute(query)
    else:
        mydb.commit()
except Exception as e:
    print(e)

1136 (21S01): Column count doesn't match value count at row 1

In [42]:
cursor.execute('SELECT COUNT(buying),buying FROM testineuron.cardata GROUP BY buying')

In [43]:
cursor.fetchall()

[(432, 'vhigh'), (432, 'high'), (432, 'med'), (432, 'low')]

In [46]:
try:
    cursor.execute("UPDATE testineuron.cardata SET doors='8' WHERE doors='2' ")
    db.commit()
except Exception as E:
    print(E)

In [47]:
s="abcdefg"

In [50]:
s.find('bcde')

-1

In [14]:
!pip uninstall pymongo

^C

In [1]:
!pip install pymongo==3.12.1

Collecting pymongo==3.12.1
  Downloading pymongo-3.12.1-cp38-cp38-win_amd64.whl (398 kB)
Installing collected packages: pymongo
  Attempting uninstall: pymongo
    Found existing installation: pymongo 2.8
    Uninstalling pymongo-2.8:
      Successfully uninstalled pymongo-2.8
Successfully installed pymongo-3.12.1

In [1]:
!pip install dnspython

Requirement already satisfied: dnspython in c:\users\shiva\anaconda3\lib\site-packages (1.16.0)

In [26]:
import pymongo
import ssl
client = pymongo.MongoClient(f"mongodb+srv://mongodb:mongodb@rukhaiyarshivam.6bbmv.mongodb.net/myFirstDatabase?retryWrites=true&w=majority",ssl_cert_reqs=ssl.CERT_NONE)
db = client.test

In [27]:
db

Database(MongoClient(host=['rukhaiyarshivam-shard-00-01.6bbmv.mongodb.net:27017', 'rukhaiyarshivam-shard-00-02.6bbmv.mongodb.net:27017', 'rukhaiyarshivam-shard-00-00.6bbmv.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-ek5g7g-shard-0', ssl=True, ssl_cert_reqs=<VerifyMode.CERT_NONE: 0>), 'test')

In [28]:
db2=client.shivam

In [29]:
coll1=db2['ineuron_collection']

In [30]:
dict1={"name":"Shivam Rukhaiyar","Age":"26","City":"Munger","Course":["ML","DL","FSDS"]}

In [31]:
coll1.insert_one(dict1)

In [1]:
!pip install --upgrade certifi

Collecting certifi
  Downloading certifi-2021.10.8-py2.py3-none-any.whl (149 kB)
Installing collected packages: certifi
  Attempting uninstall: certifi
    Found existing installation: certifi 2020.6.20
    Uninstalling certifi-2020.6.20:
      Successfully uninstalled certifi-2020.6.20
Successfully installed certifi-2021.10.8

In [16]:
!pip install pymongo[srv]

Requirement already satisfied: pymongo[srv] in c:\users\shiva\anaconda3\lib\site-packages (3.12.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0; extra == "srv" in c:\users\shiva\anaconda3\lib\site-packages (from pymongo[srv]) (1.16.0)

In [17]:
!pip install dnspython

Requirement already satisfied: dnspython in c:\users\shiva\anaconda3\lib\site-packages (1.16.0)

In [18]:
!pip install pymongo==3.8.0

Collecting pymongo==3.8.0
  Downloading pymongo-3.8.0.tar.gz (649 kB)
Building wheels for collected packages: pymongo
  Building wheel for pymongo (setup.py): started
  Building wheel for pymongo (setup.py): finished with status 'done'
  Created wheel for pymongo: filename=pymongo-3.8.0-cp38-cp38-win_amd64.whl size=284297 sha256=2febda9531afeb46ed2e0d6ad93ffac099d2a4d9bb595dc621cb14962e2cd420
  Stored in directory: c:\users\shiva\appdata\local\pip\cache\wheels\f9\43\fd\b219b32f22668e7d577f70253d52fbc76dfaaaa98cef91125f
Successfully built pymongo
Installing collected packages: pymongo
  Attempting uninstall: pymongo

ERROR: Could not install packages due to an EnvironmentError: [WinError 5] Access is denied: 'C:\\Users\\shiva\\Anaconda3\\Lib\\site-packages\\~son\\_cbson.cp38-win_amd64.pyd'
Consider using the `--user` option or check the permissions.

    Found existing installation: pymongo 3.12.1
    Uninstalling pymongo-3.12.1:
      Successfully uninstalled pymongo-3.12.1

In [32]:
import sqlite3

In [48]:
db=sqlite3.connect('ineuron.db')

In [49]:
cursor=db.cursor()

In [35]:
cursor.execute('create table fsds (name test,batchid int,marks int)')

In [44]:
cursor.execute('SELECT * FROM fsds')

In [52]:
cursor.fetchall()

[('shivam', 1, 90)]

In [42]:
query="insert into fsds values('shivam',1,90)"

In [51]:
cursor.execute(query)

In [47]:
db.commit()
db.close()

In [50]:
query="select * from fsds where marks>89"

In [53]:
l=[1,2,3,4,5,6]

In [58]:
def incre(a):
    return a+5
r=list(map(incre,l))

In [59]:
r

[6, 7, 8, 9, 10, 11]

In [67]:
l=['54','88','45454','554']

In [71]:
def conv(a):
    try:
        return int(a)
    except:
        return "NaN"
list(map(conv,l))

[54, 88, 45454, 554]

In [74]:
list(map(lambda x:int(x),l))

[54, 88, 45454, 554]

In [119]:
l=[4,5,6,7,8,10,15]

In [121]:
list(filter(lambda x: x if(x%2==0) else None,l))

[4, 6, 8, 10]

In [85]:
from functools import reduce

In [89]:
reduce(lambda x,y,z: x*y*z,l)

TypeError: <lambda>() missing 1 required positional argument: 'z'

In [91]:
!pip install flask

Requirement already satisfied: flask in c:\users\shiva\anaconda3\lib\site-packages (1.1.2)
Requirement already satisfied: click>=5.1 in c:\users\shiva\anaconda3\lib\site-packages (from flask) (7.1.2)
Requirement already satisfied: Werkzeug>=0.15 in c:\users\shiva\anaconda3\lib\site-packages (from flask) (1.0.1)
Requirement already satisfied: itsdangerous>=0.24 in c:\users\shiva\anaconda3\lib\site-packages (from flask) (1.1.0)
Requirement already satisfied: Jinja2>=2.10.1 in c:\users\shiva\anaconda3\lib\site-packages (from flask) (2.11.2)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\shiva\anaconda3\lib\site-packages (from Jinja2>=2.10.1->flask) (1.1.1)

In [108]:
import requests
import json

In [94]:
res=requests.get("https://api.github.com/repos/pandas-dev/pandas/issues")

In [95]:
result=res.json()

In [112]:
result[0]

{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46194',
 'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
 'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46194/labels{/name}',
 'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46194/comments',
 'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46194/events',
 'html_url': 'https://github.com/pandas-dev/pandas/pull/46194',
 'id': 1155658507,
 'node_id': 'PR_kwDOAA0YD84zvsji',
 'number': 46194,
 'title': 'DOC: clarify `styler.hide` in combination with `to_excel`',
 'user': {'login': 'attack68',
  'id': 24256554,
  'node_id': 'MDQ6VXNlcjI0MjU2NTU0',
  'avatar_url': 'https://avatars.githubusercontent.com/u/24256554?v=4',
  'gravatar_id': '',
  'url': 'https://api.github.com/users/attack68',
  'html_url': 'https://github.com/attack68',
  'followers_url': 'https://api.github.com/users/attack68/followers',
  'following_url': 'https://api.github.com/users/attack68/following{/other_user}',
  'gists_url': 'https://api.github.com/users/attack68/gists{/gist_id}',
  'starred_url': 'https://api.github.com/users/attack68/starred{/owner}{/repo}',
  'subscriptions_url': 'https://api.github.com/users/attack68/subscriptions',
  'organizations_url': 'https://api.github.com/users/attack68/orgs',
  'repos_url': 'https://api.github.com/users/attack68/repos',
  'events_url': 'https://api.github.com/users/attack68/events{/privacy}',
  'received_events_url': 'https://api.github.com/users/attack68/received_events',
  'type': 'User',
  'site_admin': False},
 'labels': [],
 'state': 'open',
 'locked': False,
 'assignee': None,
 'assignees': [],
 'milestone': None,
 'comments': 0,
 'created_at': '2022-03-01T18:15:40Z',
 'updated_at': '2022-03-01T18:15:40Z',
 'closed_at': None,
 'author_association': 'CONTRIBUTOR',
 'active_lock_reason': None,
 'draft': False,
 'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/46194',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/46194',
  'diff_url': 'https://github.com/pandas-dev/pandas/pull/46194.diff',
  'patch_url': 'https://github.com/pandas-dev/pandas/pull/46194.patch',
  'merged_at': None},
 'body': None,
 'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46194/reactions',
  'total_count': 0,
  '+1': 0,
  '-1': 0,
  'laugh': 0,
  'hooray': 0,
  'confused': 0,
  'heart': 0,
  'rocket': 0,
  'eyes': 0},
 'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46194/timeline',
 'performed_via_github_app': None}

In [111]:
import pandas as pd

In [98]:
df=pd.DataFrame(result)

In [103]:
df.columns

Index(['url', 'repository_url', 'labels_url', 'comments_url', 'events_url',
       'html_url', 'id', 'node_id', 'number', 'title', 'user', 'labels',
       'state', 'locked', 'assignee', 'assignees', 'milestone', 'comments',
       'created_at', 'updated_at', 'closed_at', 'author_association',
       'active_lock_reason', 'draft', 'pull_request', 'body', 'reactions',
       'timeline_url', 'performed_via_github_app'],
      dtype='object')

In [117]:
df1=pd.DataFrame(list(df['user']))
#Takres list as input not series

In [118]:
df1.head()

,login,id,node_id,avatar_url,gravatar_id,url,html_url,followers_url,following_url,gists_url,starred_url,subscriptions_url,organizations_url,repos_url,events_url,received_events_url,type,site_admin
0,attack68,24256554,MDQ6VXNlcjI0MjU2NTU0,https://avatars.githubusercontent.com/u/242565...,,https://api.github.com/users/attack68,https://github.com/attack68,https://api.github.com/users/attack68/followers,https://api.github.com/users/attack68/followin...,https://api.github.com/users/attack68/gists{/g...,https://api.github.com/users/attack68/starred{...,https://api.github.com/users/attack68/subscrip...,https://api.github.com/users/attack68/orgs,https://api.github.com/users/attack68/repos,https://api.github.com/users/attack68/events{/...,https://api.github.com/users/attack68/received...,User,False
1,weikhor,36619387,MDQ6VXNlcjM2NjE5Mzg3,https://avatars.githubusercontent.com/u/366193...,,https://api.github.com/users/weikhor,https://github.com/weikhor,https://api.github.com/users/weikhor/followers,https://api.github.com/users/weikhor/following...,https://api.github.com/users/weikhor/gists{/gi...,https://api.github.com/users/weikhor/starred{/...,https://api.github.com/users/weikhor/subscript...,https://api.github.com/users/weikhor/orgs,https://api.github.com/users/weikhor/repos,https://api.github.com/users/weikhor/events{/p...,https://api.github.com/users/weikhor/received_...,User,False
2,sumanentc,23206391,MDQ6VXNlcjIzMjA2Mzkx,https://avatars.githubusercontent.com/u/232063...,,https://api.github.com/users/sumanentc,https://github.com/sumanentc,https://api.github.com/users/sumanentc/followers,https://api.github.com/users/sumanentc/followi...,https://api.github.com/users/sumanentc/gists{/...,https://api.github.com/users/sumanentc/starred...,https://api.github.com/users/sumanentc/subscri...,https://api.github.com/users/sumanentc/orgs,https://api.github.com/users/sumanentc/repos,https://api.github.com/users/sumanentc/events{...,https://api.github.com/users/sumanentc/receive...,User,False
3,mroeschke,10647082,MDQ6VXNlcjEwNjQ3MDgy,https://avatars.githubusercontent.com/u/106470...,,https://api.github.com/users/mroeschke,https://github.com/mroeschke,https://api.github.com/users/mroeschke/followers,https://api.github.com/users/mroeschke/followi...,https://api.github.com/users/mroeschke/gists{/...,https://api.github.com/users/mroeschke/starred...,https://api.github.com/users/mroeschke/subscri...,https://api.github.com/users/mroeschke/orgs,https://api.github.com/users/mroeschke/repos,https://api.github.com/users/mroeschke/events{...,https://api.github.com/users/mroeschke/receive...,User,False
4,AlphaScorpii-dev,12093095,MDQ6VXNlcjEyMDkzMDk1,https://avatars.githubusercontent.com/u/120930...,,https://api.github.com/users/AlphaScorpii-dev,https://github.com/AlphaScorpii-dev,https://api.github.com/users/AlphaScorpii-dev/...,https://api.github.com/users/AlphaScorpii-dev/...,https://api.github.com/users/AlphaScorpii-dev/...,https://api.github.com/users/AlphaScorpii-dev/...,https://api.github.com/users/AlphaScorpii-dev/...,https://api.github.com/users/AlphaScorpii-dev/...,https://api.github.com/users/AlphaScorpii-dev/...,https://api.github.com/users/AlphaScorpii-dev/...,https://api.github.com/users/AlphaScorpii-dev/...,User,False

In [113]:
df['user']

{'login': 'attack68',
 'id': 24256554,
 'node_id': 'MDQ6VXNlcjI0MjU2NTU0',
 'avatar_url': 'https://avatars.githubusercontent.com/u/24256554?v=4',
 'gravatar_id': '',
 'url': 'https://api.github.com/users/attack68',
 'html_url': 'https://github.com/attack68',
 'followers_url': 'https://api.github.com/users/attack68/followers',
 'following_url': 'https://api.github.com/users/attack68/following{/other_user}',
 'gists_url': 'https://api.github.com/users/attack68/gists{/gist_id}',
 'starred_url': 'https://api.github.com/users/attack68/starred{/owner}{/repo}',
 'subscriptions_url': 'https://api.github.com/users/attack68/subscriptions',
 'organizations_url': 'https://api.github.com/users/attack68/orgs',
 'repos_url': 'https://api.github.com/users/attack68/repos',
 'events_url': 'https://api.github.com/users/attack68/events{/privacy}',
 'received_events_url': 'https://api.github.com/users/attack68/received_events',
 'type': 'User',
 'site_admin': False}

In [116]:
type(result)

list

In [124]:
type(df1.dtypes)

pandas.core.series.Series

In [143]:
df2=df1[df1.dtypes[df1.dtypes=='object'].index]

In [138]:
type(df1['login']=='attack68')

pandas.core.series.Series

In [146]:
df2.describe()

,login,node_id,avatar_url,gravatar_id,url,html_url,followers_url,following_url,gists_url,starred_url,subscriptions_url,organizations_url,repos_url,events_url,received_events_url,type
count,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30
unique,24,24,24,1,24,24,24,24,24,24,24,24,24,24,24,1
top,weikhor,MDQ6VXNlcjM2NjE5Mzg3,https://avatars.githubusercontent.com/u/366193...,,https://api.github.com/users/weikhor,https://github.com/weikhor,https://api.github.com/users/weikhor/followers,https://api.github.com/users/weikhor/following...,https://api.github.com/users/weikhor/gists{/gi...,https://api.github.com/users/weikhor/starred{/...,https://api.github.com/users/weikhor/subscript...,https://api.github.com/users/weikhor/orgs,https://api.github.com/users/weikhor/repos,https://api.github.com/users/weikhor/events{/p...,https://api.github.com/users/weikhor/received_...,User
freq,4,4,4,30,4,4,4,4,4,4,4,4,4,4,4,30

In [151]:
x=pd.Categorical(df1).categories

In [153]:
list(x)

['avatar_url',
 'events_url',
 'followers_url',
 'following_url',
 'gists_url',
 'gravatar_id',
 'html_url',
 'id',
 'login',
 'node_id',
 'organizations_url',
 'received_events_url',
 'repos_url',
 'site_admin',
 'starred_url',
 'subscriptions_url',
 'type',
 'url']

In [160]:
x=pd.CategoricalDtype(categories=['Fail','Pass'],ordered=True)

In [161]:
r=pd.Series(['Pass','Fail','Shivam'],dtype=x)

In [162]:
r

0    Pass
1    Fail
2     NaN
dtype: category
Categories (2, object): [Fail < Pass]

In [163]:
df1['events_url'].unique()

array(['https://api.github.com/users/attack68/events{/privacy}',
       'https://api.github.com/users/weikhor/events{/privacy}',
       'https://api.github.com/users/sumanentc/events{/privacy}',
       'https://api.github.com/users/mroeschke/events{/privacy}',
       'https://api.github.com/users/AlphaScorpii-dev/events{/privacy}',
       'https://api.github.com/users/theinexorable/events{/privacy}',
       'https://api.github.com/users/RagBlufThim/events{/privacy}',
       'https://api.github.com/users/johannes-mueller/events{/privacy}',
       'https://api.github.com/users/tritemio/events{/privacy}',
       'https://api.github.com/users/mach881040/events{/privacy}',
       'https://api.github.com/users/fractionalhare/events{/privacy}',
       'https://api.github.com/users/macsakow/events{/privacy}',
       'https://api.github.com/users/Dr-Irv/events{/privacy}',
       'https://api.github.com/users/J0/events{/privacy}',
       'https://api.github.com/users/lukemanley/events{/privacy}',
       'https://api.github.com/users/milotoor/events{/privacy}',
       'https://api.github.com/users/tehunter/events{/privacy}',
       'https://api.github.com/users/jukiewiczm/events{/privacy}',
       'https://api.github.com/users/harahu/events{/privacy}',
       'https://api.github.com/users/vnlitvinov/events{/privacy}',
       'https://api.github.com/users/timmy-ops/events{/privacy}',
       'https://api.github.com/users/mvashishtha/events{/privacy}',
       'https://api.github.com/users/McToel/events{/privacy}',
       'https://api.github.com/users/timlod/events{/privacy}'],
      dtype=object)

In [174]:
list(filter(pd.isnull,df1['events_url']))

[]

In [185]:
df1[['node_id']][df1['events_url']!='NaN']

                 node_id
0   MDQ6VXNlcjI0MjU2NTU0
1   MDQ6VXNlcjM2NjE5Mzg3
2   MDQ6VXNlcjIzMjA2Mzkx
3   MDQ6VXNlcjEwNjQ3MDgy
4   MDQ6VXNlcjEyMDkzMDk1
5   MDQ6VXNlcjUxOTk2NTA0
6   MDQ6VXNlcjI1NDQwODYy
7   MDQ6VXNlcjU5MDI3NDU=
8   MDQ6VXNlcjQxNTYyMzc=
9           U_kgDOBf2K4g
10  MDQ6VXNlcjEwNTQwODMw
11  MDQ6VXNlcjEwMjk3MDE0
12  MDQ6VXNlcjE1MTEzODk0
13  MDQ6VXNlcjM2NjE5Mzg3
14  MDQ6VXNlcjgwMTE3NjE=
15  MDQ6VXNlcjg1MTk1MjM=
16  MDQ6VXNlcjM2NjE5Mzg3
17  MDQ6VXNlcjg1MTk1MjM=
18  MDQ6VXNlcjQ2Njc4MDE=
19  MDQ6VXNlcjc5ODA2NjY=
20  MDQ6VXNlcjgxNzkxMjY=
21  MDQ6VXNlcjYxNDU4MDE=
22  MDQ6VXNlcjEwNjQ3MDgy
23  MDQ6VXNlcjQ1Mzk2MjMx
24  MDQ6VXNlcjM2NjE5Mzg3
25  MDQ6VXNlcjg5MDI4MzU5
26  MDQ6VXNlcjEwNzEyMTA5
27  MDQ6VXNlcjEwNzEyMTA5
28  MDQ6VXNlcjM2MDcxNjc2
29  MDQ6VXNlcjczNDYzMDM=

In [190]:
[df1['login'].isnull()==False]

[0     True
 1     True
 2     True
 3     True
 4     True
 5     True
 6     True
 7     True
 8     True
 9     True
 10    True
 11    True
 12    True
 13    True
 14    True
 15    True
 16    True
 17    True
 18    True
 19    True
 20    True
 21    True
 22    True
 23    True
 24    True
 25    True
 26    True
 27    True
 28    True
 29    True
 Name: login, dtype: bool]

In [191]:
df1.isnull()

,login,id,node_id,avatar_url,gravatar_id,url,html_url,followers_url,following_url,gists_url,starred_url,subscriptions_url,organizations_url,repos_url,events_url,received_events_url,type,site_admin
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [192]:
df.head()

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,updated_at,closed_at,author_association,active_lock_reason,draft,pull_request,body,reactions,timeline_url,performed_via_github_app
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46194,1155658507,PR_kwDOAA0YD84zvsji,46194,DOC: clarify `styler.hide` in combination with...,...,2022-03-01T18:15:40Z,None,CONTRIBUTOR,None,False,{'url': 'https://api.github.com/repos/pandas-d...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46193,1155392744,PR_kwDOAA0YD84zu0rV,46193,Benchmark for indexing with .loc for sorted/un...,...,2022-03-01T14:14:52Z,None,CONTRIBUTOR,None,False,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #38690 \r\n- [ ] [Tests added and...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46192,1155321544,I_kwDOAA0YD85E3M7I,46192,BUG: to_numeric function not converting the co...,...,2022-03-01T16:13:24Z,None,NONE,None,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46191,1154944516,PR_kwDOAA0YD84ztWIL,46191,CLN: rolling step followups,...,2022-03-01T18:57:19Z,None,MEMBER,None,False,{'url': 'https://api.github.com/repos/pandas-d...,- [x] [Tests added and passed](https://pandas....,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46189,1154770137,I_kwDOAA0YD85E1GTZ,46189,BUG: KeyError in a multiindex with Timestamps,...,2022-03-01T12:25:24Z,None,NONE,None,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None

In [199]:
df[df['number']==df['number'].max()]

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,updated_at,closed_at,author_association,active_lock_reason,draft,pull_request,body,reactions,timeline_url,performed_via_github_app
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46194,1155658507,PR_kwDOAA0YD84zvsji,46194,DOC: clarify `styler.hide` in combination with...,...,2022-03-01T18:15:40Z,None,CONTRIBUTOR,None,False,{'url': 'https://api.github.com/repos/pandas-d...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None

In [1]:
import pandas as pd

In [9]:
df=pd.read_csv('D:\iNeuronAssignment\Class Practice\ohana-api-master\data\sample-csv\locations.csv',index_col=False)

In [10]:
df.reindex()

,id,organization_id,accessibility,admin_emails,alternate_name,description,email,languages,latitude,longitude,name,short_desc,transportation,website,virtual
0,1,1,"disabled_parking, ramp, restroom, wheelchair",NaN,NaN,A walk-in center for older adults that provide...,NaN,"Spanish, Tagalog",37.477227,-122.213221,Fair Oaks Adult Activity Center,A multipurpose senior citizens' center serving...,SAMTRANS stops in front.,NaN,False
1,2,1,wheelchair,NaN,NaN,Provides training and job placement to eligibl...,NaN,"Chinese (Mandarin), Tagalog, Italian, Spanish",37.563984,-122.325799,Second Career Employment Program,Provides training and job placement to eligibl...,"SAMTRANS stops within 1 block, CALTRAIN stops ...",NaN,False
2,3,1,NaN,NaN,NaN,Offers supportive counseling services to San M...,NaN,"Chinese (Cantonese), Chinese (Mandarin), Tagal...",37.563984,-122.325799,Senior Peer Counseling,Offers supportive counseling services to older...,Service is provided in person's home or at a m...,NaN,False
3,4,1,wheelchair,NaN,NaN,Provides supervised visitation services and a ...,NaN,Spanish,37.563984,-122.325799,Family Visitation Center,Provides supervised visitation services and a ...,"SAMTRANS stops within 1 block, CALTRAIN stops ...",NaN,False
4,5,1,wheelchair,NaN,NaN,Provides fixed 8% short term loans to eligible...,NaN,"Hindi, Spanish",37.563984,-122.325799,Economic Self - Sufficiency Program,Makes small loans to working families.,SAMTRANS stops within 1 block. CALTRAIN stops ...,NaN,False

In [11]:
import numpy as np
import pandas as pd

In [12]:
data=np.array(['a','b','c','d','e'])
a=pd.Series(data)

In [13]:
a

0    a
1    b
2    c
3    d
4    e
dtype: object

In [15]:
a.index

RangeIndex(start=0, stop=5, step=1)

In [16]:
a.shape

(5,)

In [19]:
a.dtype

dtype('O')

In [20]:
a.size

5

In [23]:
a.empty

False

In [27]:
df['accessibility'].value_counts()

wheelchair                                                              6
ramp, restroom, wheelchair                                              1
elevator, tape_braille, ramp, restroom, disabled_parking, wheelchair    1
ramp                                                                    1
disabled_parking, restroom, wheelchair                                  1
disabled_parking, wheelchair                                            1
cd, restroom, wheelchair                                                1
ramp, restroom, disabled_parking, wheelchair                            1
disabled_parking, elevator, ramp, restroom                              1
elevator, restroom                                                      1
disabled_parking, ramp, restroom, wheelchair                            1
elevator, ramp, wheelchair                                              1
Name: accessibility, dtype: int64

In [28]:
a=pd.Series(['Java','Python','C',np.nan])

In [33]:
a.map('I Like {}'.format)

0      I Like Java
1    I Like Python
2         I Like C
3       I Like nan
dtype: object

In [34]:
a.map({'Java':'Core'})

0    Core
1     NaN
2     NaN
3     NaN
dtype: object

In [38]:
pd.Series(map(lambda x:x+'2',a))

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [40]:
df=pd.DataFrame({'One':[1,2,3,4]})

In [41]:
df['Two']=df['One']+1

In [42]:
df

   One  Two
0    1    2
1    2    3
2    3    4
3    4    5

In [47]:
del df['One']

KeyError: 'One'

In [44]:
df

   Two
0    2
1    3
2    4
3    5

In [48]:

info = {'one' : pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e']),   
   'two' : pd.Series([1, 2, 3, 4, 5, 6], index=['a', 'b', 'c', 'd', 'e', 'f'])}  
  
df = pd.DataFrame(info)

In [49]:
df

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  4.0    4
e  5.0    5
f  NaN    6

In [53]:
df.loc['a':'b']

   one  two
a  1.0    1
b  2.0    2

In [55]:
df['b':'c']

   one  two
b  2.0    2
c  3.0    3

In [64]:
df['one']=df['one'].apply(lambda x:x+4)

In [68]:
df['one']=df['one'].apply(catefory)

TypeError: catefory() missing 1 required positional argument: 'x'

In [65]:
def catefory(x):
    if x>5:
        return "High"
    else :
        return "Low"

In [67]:
df

    one  two
a   Low    1
b  High    2
c  High    3
d  High    4
e  High    5
f   Low    6

In [69]:
df.count()

one    6
two    6
dtype: int64

In [70]:
data = {'Name': ['Parker', 'Smith', 'John', 'William','hgui','yfstyf'],  
   'Percentage': [82, 98, 91, 87,45,49],  
   'Course': ['B.Sc','B.Ed','M.Phill','BA','BA','BA']}  
df = pd.DataFrame(data)

In [71]:
df

      Name  Percentage   Course
0   Parker          82     B.Sc
1    Smith          98     B.Ed
2     John          91  M.Phill
3  William          87       BA
4     hgui          45       BA
5   yfstyf          49       BA

In [96]:
res=df.groupby(['Course']).sum()

In [98]:
res['Percentage']

Course
B.Ed        98
B.Sc        82
BA         181
M.Phill     91
Name: Percentage, dtype: int64

In [99]:
info = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3', 'K4', 'K5'],  
'A': ['A0', 'A1', 'A2', 'A3', 'A4', 'A5']})  
x = pd.DataFrame({'key': ['K0', 'K1', 'K2'],  
'B': ['B0', 'B1', 'B2']})

In [100]:
info

  key   A
0  K0  A0
1  K1  A1
2  K2  A2
3  K3  A3
4  K4  A4
5  K5  A5

In [101]:
x

  key   B
0  K0  B0
1  K1  B1
2  K2  B2

In [106]:
pd.concat([info,x])

  key    A    B
0  K0   A0  NaN
1  K1   A1  NaN
2  K2   A2  NaN
3  K3   A3  NaN
4  K4   A4  NaN
5  K5   A5  NaN
0  K0  NaN   B0
1  K1  NaN   B1
2  K2  NaN   B2

In [134]:
r=(info['key']=='K0' )& (info['key']=='K1')

In [138]:
info.loc[r,['key','A']]

Empty DataFrame
Columns: [key, A]
Index: []

In [140]:
info.dtypes  #dtypes is an attribute not a method

key    object
A      object
dtype: object

In [ ]:
pd.read_csv('',names=[])

In [155]:
list(info.columns)

['key', 'A']

In [163]:
df=pd.read_html("https://github.com/datasciencedojo/datasets/blob/master/titanic.csv") 
"""
Given a list of tables on the html page result type is list
and each element of the list is a dataframe
"""

'\nGiven a list of tables on the html page result type is list\nand each element of the list is a dataframe\n'

In [161]:
type(df)

list

In [164]:
df1=df[0]

In [165]:
s=""

In [167]:
import requests

In [169]:
data=requests.get("https://api.github.com/repos/pandas-dev/pandas/issues")

In [171]:
jsonData=data.json()

In [198]:
type(jsonData[0])

dict

In [183]:
df=pd.DataFrame(jsonData)

In [185]:
s="""[
{"name":"shivam"},
{"name":"shubham"}

]
"""

In [190]:
import json
r=json.loads(s)

In [201]:
d=pd.DataFrame(r)

In [202]:
d

      name
0   shivam
1  shubham

In [203]:
df.head()

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,updated_at,closed_at,author_association,active_lock_reason,draft,pull_request,body,reactions,timeline_url,performed_via_github_app
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46314,1165742668,PR_kwDOAA0YD840Q88A,46314,REF: re-share Period methods,...,2022-03-10T21:25:59Z,None,MEMBER,None,False,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #xxxx (Replace xxxx with the Gith...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46313,1165672382,I_kwDOAA0YD85Fer--,46313,BUG: Categorical of booleans has object .categ...,...,2022-03-10T20:11:48Z,None,CONTRIBUTOR,None,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46312,1165636565,PR_kwDOAA0YD840QmJ_,46312,BUG: avoid OOB flow in read_gbq and to_gbq,...,2022-03-10T19:32:37Z,None,CONTRIBUTOR,None,False,{'url': 'https://api.github.com/repos/pandas-d...,The console-based copy-paste-a-token flow has ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46311,1165601928,PR_kwDOAA0YD840QezO,46311,DOC: example using `clipboard_set` for all out...,...,2022-03-10T19:33:11Z,None,CONTRIBUTOR,None,False,{'url': 'https://api.github.com/repos/pandas-d...,rather than change the underlying `DataFrame.t...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46310,1165554305,I_kwDOAA0YD85FePKB,46310,ENH: Add `subset` param to `add_(pre|suf)fix`,...,2022-03-10T18:08:06Z,None,CONTRIBUTOR,None,NaN,NaN,#### Is your feature request related to a prob...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None

In [209]:
type(df['user'][0])

dict

In [215]:
userdata=list(df['user'])

In [217]:
df2=pd.DataFrame(userdata)

##

In [218]:
df2

,login,id,node_id,avatar_url,gravatar_id,url,html_url,followers_url,following_url,gists_url,starred_url,subscriptions_url,organizations_url,repos_url,events_url,received_events_url,type,site_admin
0,jbrockmendel,8078968,MDQ6VXNlcjgwNzg5Njg=,https://avatars.githubusercontent.com/u/807896...,,https://api.github.com/users/jbrockmendel,https://github.com/jbrockmendel,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/gist...,https://api.github.com/users/jbrockmendel/star...,https://api.github.com/users/jbrockmendel/subs...,https://api.github.com/users/jbrockmendel/orgs,https://api.github.com/users/jbrockmendel/repos,https://api.github.com/users/jbrockmendel/even...,https://api.github.com/users/jbrockmendel/rece...,User,False
1,ivirshup,8238804,MDQ6VXNlcjgyMzg4MDQ=,https://avatars.githubusercontent.com/u/823880...,,https://api.github.com/users/ivirshup,https://github.com/ivirshup,https://api.github.com/users/ivirshup/followers,https://api.github.com/users/ivirshup/followin...,https://api.github.com/users/ivirshup/gists{/g...,https://api.github.com/users/ivirshup/starred{...,https://api.github.com/users/ivirshup/subscrip...,https://api.github.com/users/ivirshup/orgs,https://api.github.com/users/ivirshup/repos,https://api.github.com/users/ivirshup/events{/...,https://api.github.com/users/ivirshup/received...,User,False
2,tswast,247555,MDQ6VXNlcjI0NzU1NQ==,https://avatars.githubusercontent.com/u/247555...,,https://api.github.com/users/tswast,https://github.com/tswast,https://api.github.com/users/tswast/followers,https://api.github.com/users/tswast/following{...,https://api.github.com/users/tswast/gists{/gis...,https://api.github.com/users/tswast/starred{/o...,https://api.github.com/users/tswast/subscriptions,https://api.github.com/users/tswast/orgs,https://api.github.com/users/tswast/repos,https://api.github.com/users/tswast/events{/pr...,https://api.github.com/users/tswast/received_e...,User,False
3,attack68,24256554,MDQ6VXNlcjI0MjU2NTU0,https://avatars.githubusercontent.com/u/242565...,,https://api.github.com/users/attack68,https://github.com/attack68,https://api.github.com/users/attack68/followers,https://api.github.com/users/attack68/followin...,https://api.github.com/users/attack68/gists{/g...,https://api.github.com/users/attack68/starred{...,https://api.github.com/users/attack68/subscrip...,https://api.github.com/users/attack68/orgs,https://api.github.com/users/attack68/repos,https://api.github.com/users/attack68/events{/...,https://api.github.com/users/attack68/received...,User,False
4,janosh,30958850,MDQ6VXNlcjMwOTU4ODUw,https://avatars.githubusercontent.com/u/309588...,,https://api.github.com/users/janosh,https://github.com/janosh,https://api.github.com/users/janosh/followers,https://api.github.com/users/janosh/following{...,https://api.github.com/users/janosh/gists{/gis...,https://api.github.com/users/janosh/starred{/o...,https://api.github.com/users/janosh/subscriptions,https://api.github.com/users/janosh/orgs,https://api.github.com/users/janosh/repos,https://api.github.com/users/janosh/events{/pr...,https://api.github.com/users/janosh/received_e...,User,False
5,jonashaag,175722,MDQ6VXNlcjE3NTcyMg==,https://avatars.githubusercontent.com/u/175722...,,https://api.github.com/users/jonashaag,https://github.com/jonashaag,https://api.github.com/users/jonashaag/followers,https://api.github.com/users/jonashaag/followi...,https://api.github.com/users/jonashaag/gists{/...,https://api.github.com/users/jonashaag/starred...,https://api.github.com/users/jonashaag/subscri...,https://api.github.com/users/jonashaag/orgs,https://api.github.com/users/jonashaag/repos,https://api.github.com/users/jonashaag/events{...,https://api.github.com/users/jonashaag/receive...,User,False
6,phofl,61934744,MDQ6VXNlcjYxOTM0NzQ0,https://avatars.githubusercontent.com/u/619347...,,https://api.github.com/users/phofl,https://github.com/phofl,https://api.github.com/users/phofl/followers,https://api.github.com/users/phofl/following{/...,https://api.github.com/users/phofl/gists{/gist...,https://api.github.com/users/phofl/starred{/ow...,https://api.github.com/users/phofl/subscriptions,https://api.github.com/users/phofl/orgs,https://api.github.com/users/phofl/repos,https://api.github.com/users/phofl/events{/pri...,https://api.github.com/users/phofl/received_ev...,User,False
7,zymon,3421892,MDQ6VXNlcjM0MjE4OTI=,https://avatars.githubusercontent.com/u/342189...,,https://api.github.com/users/zymon,https://github.com/zymon,https://api.github.com/users/zymon/followers,https://api.github.com/users/zymon/following{/...,https://api.github.com/users/zymon/gists{/gist...,https://api.github.com/users/zymon/starred{/ow...,https://api.github.com/users/zymon/subscriptions,https://api.github.com/users/zymon/orgs,https://api.github.com/users/zymon/repos,https://api.github.com/users/zymon/events{/pri...,https://api.github.com/users/zymon/received_ev...,User,False
8,jloxh,73829711,MDQ6VXNlcjczODI5NzEx,https://avatars.githubusercontent.com/u/738297...,,https://api.github.com/users/jloxh,https://github.com/jloxh,https://api.github.com/users/jloxh/followers,https://api.github.com/users/jloxh/following{/...,https://api.github.com/users/jloxh/gists{/gist...,https://api.github.com/users/jloxh/starred{/ow...,https://api.github.com/users/jloxh/subscriptions,https://api.github.com/users/jloxh/orgs,https://api.github.com/users/jloxh/repos,https://api.github.com/users/jloxh/events{/pri...,https://api.github.com/users/jloxh/received_ev...,User,False
9,phofl,61934744,MDQ6VXNlcjYxOTM0NzQ0,https://avatars.githubusercontent.com/u/619347...,,https://api.github.com/users/phofl,https://github.com/phofl,https://api.github.com/users/phofl/followers,https://api.github.com/users/phofl/following{/...,https://api.github.com/users/phofl/gists{/gist...,https://api.github.com/users/phofl/starred{/ow...,https://api.github.com/users/phofl/subscriptions,https://api.github.com/users/phofl/orgs,https://api.github.com/users/phofl/repos,https://api.github.com/users/phofl/events{/pri...,https://api.github.com/users/phofl/received_ev...,User,False
10,graingert,413772,MDQ6VXNlcjQxMzc3Mg==,https://avatars.githubusercontent.com/u/413772...,,https://api.github.com/users/graingert,https://github.com/graingert,https://api.github.com/users/graingert/followers,https://api.github.com/users/graingert/followi...,https://api.github.com/users/graingert/gists{/...,https://api.github.com/users/graingert/starred...,https://api.github.com/users/graingert/subscri...,https://api.github.com/users/graingert/orgs,https://api.github.com/users/graingert/repos,https://api.github.com/users/graingert/events{...,https://api.github.com/users/graingert/receive...,User,False
11,phofl,61934744,MDQ6VXNlcjYxOTM0NzQ0,https://avatars.githubusercontent.com/u/619347...,,https://api.github.com/users/phofl,https://github.com/phofl,https://api.github.com/users/phofl/followers,https://api.github.com/users/phofl/following{/...,https://api.github.com/users/phofl/gists{/gist...,https://api.github.com/users/phofl/starred{/ow...,https://api.github.com/users/phofl/subscriptions,https://api.github.com/users/phofl/orgs,https://api.github.com/users/phofl/repos,https://api.github.com/users/phofl/events{/pri...,https://api.github.com/users/phofl/received_ev...,User,False
12,twoertwein,6618166,MDQ6VXNlcjY2MTgxNjY=,https://avatars.githubusercontent.com/u/661816...,,https://api.github.com/users/twoertwein,https://github.com/twoertwein,https://api.github.com/users/twoertwein/followers,https://api.github.com/users/twoertwein/follow...,https://api.github.com/users/twoertwein/gists{...,https://api.github.com/users/twoertwein/starre...,https://api.github.com/users/twoertwein/subscr...,https://api.github.com/users/twoertwein/orgs,https://api.github.com/users/twoertwein/repos,https://api.github.com/users/twoertwein/events...,https://api.github.com/users/twoertwein/receiv...,User,False
13,TouriM,726951,MDQ6VXNlcjcyNjk1MQ==,https://avatars.githubusercontent.com/u/726951...,,https://api.github.com/users/TouriM,https://github.com/TouriM,https://api.github.com/users/TouriM/followers,https://api.github.com/users/TouriM/following{...,https://api.github.com/users/TouriM/gists{/gis...,https://api.github.com/users/TouriM/starred{/o...,https://api.github.com/users/TouriM/subscriptions,https://api.github.com/users/TouriM/orgs,https://api.github.com/users/TouriM/repos,https://api.github.com/users/TouriM/events{/pr...,https://api.github.com/users/TouriM/received_e...,User,False
14,pjireland,16693035,MDQ6VXNlcjE2NjkzMDM1,https://avatars.githubusercontent.com/u/166930...,,https://api.github.com/users/pjireland,https://github.com/pjireland,https://api.github.com/users/pjireland/followers,https://api.github.com/users/pjireland/followi...,https://api.github.com/users/pjireland/gists{/...,https://api.github.com/users/pjireland/starred...,https://api.github.com/users/pjireland/subscri...,https://api.github.com/users/pjireland/orgs,https://api.github.com/users/pjireland/repos,https://api.github.com/users/pjireland/events{...,https://api.github.com/users/pjireland/receive...,User,False
15,jbrockmendel,8078968,MDQ6VXNlcjgwNzg5Njg=,https://avatars.githubusercontent.com/u/807896...,,https://api.github.com/users/jbrockmendel,https://github.com/jbrockmendel,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/gist...,https://api.github.com/users/jbrockmendel/star...,https://api.github.com/users/jbrockmendel/subs...,https://api.github.com/users/jbrockmendel/orgs,https://api.github.com/users/jbrockmendel/repos,https://api.github.com/users/jbrockmendel/even...,https://api.github.com/users/jbrockmendel/rece...,User,False
16,agural,1474669,MDQ6VXNlcjE0NzQ2Njk=,https://avatars.githubusercontent.com/u/147466...,,https://api.github.com/users/agural,https://github.com/agural,https://api.github.com/users/agural/followers,https://api.github.com/users/agural/following{...,https://api.github.com/users/agural/gists{/gis...,https://api.github.com/users/agural/starred{/o...,https://api.github.com/users/agural/subscriptions,https://api.github.com/users/agural/orgs,https://api.github.com/users/agural/repos,https://api.github.com/users/agural/events{/pr...,https://api.github.com/users/agural/received_e...,User,False
17,MarkPundurs,4326861,MDQ6VXNlcjQzMjY4NjE=,https://avatars.githubusercontent.com/u/432686...,,https://api.github.com/users/MarkPundurs,https://github.com/MarkPundurs,https://api.github.com/users/MarkPundurs/follo...,https://api.github.com/users/MarkPundurs/follo...,https://api.github.com/users/MarkPundurs/gists...,https://api.github.com/users/MarkPundurs/starr...,https://api.github.com/users/MarkPundurs/subsc...,https://api.github.com/users/MarkPundurs/orgs,https://api.github.com/users/MarkPundurs/repos,https://api.github.com/users/MarkPundurs/event...,https://api.github.com/users/MarkPundurs/recei...,User,False
18,chrisprobably,1543608,MDQ6VXNlcjE1NDM2MDg=,https://avatars.githubusercontent.com/u/154360...,,https://api.github.com/users/chrisprobably,https://github.com/chrisprobably,https://api.github.com/users/chrisprobably/fol...,https://api.github.com/users/chrisprobably/fol...,https://api.github.com/users/chrisprobably/gis...,https://api.github.com/users/chrisprobably/sta...,https://api.github.com/users/chrisprobably/sub...,https://api.github.com/users/chrisprobably/orgs,https://api.github.com/users/chrisprobably/repos,https://api.github.com/users/chrisprobably/eve...,https://api.github.com/users/chrisprobably/rec...,User,False
19,Hadi2525,23264077,MDQ6VXNlcjIzMjY0MDc3,https://avatars.githubusercontent.com/u/232640...,,https://api.github.com/users/Hadi2525,https://github.com/Hadi2525,https://api.github.com/users/Hadi2525/followers,https://api.github.com/users/Hadi2525/followin...,https://api.github.com/users/Hadi2525/gists{/g...,https://api.github.com/users/Hadi2525/starred{...,https://api.github.com/users/Hadi2525/subscrip...,https://api.github.com/users/Hadi2525/orgs,https://api.github.com/users/Hadi2525/repos,https://api.github.com/users/Hadi2525/events{/...,https://api.github.com/users/Hadi2525/received...,User,False
20,Freakwill,30965609,MDQ6VXNlcjMwOTY1NjA5,https://avatars.githubusercontent.com/u/309656...,,https://api.github.com/users/Freakwill,https://github.com/Freakwill,https://api.github.com/users/Freakwill/followers,https://api.github.com/users/Freakwill/followi...,https://api.github.com/users/Freakwill/gists{/...,https://api.github.com/users/Freakwill/starred...,https://api.github.com/users/Freakwill/subscri...,https://api.github.com/users/Freakwill/orgs,https://api.github.com/users/Freakwill/repos,https://api.github.com/users/Freakwill/events{...,https://api.github.com/users/Freakwill/receive...,User,False
21,lukemanley,8519523,MDQ6VXNlcjg1MTk1MjM=,https://avatars.githubusercontent.com/u/851952...,,https://api.github.com/users/lukemanley,https://github.com/lukemanley,https://api.github.com/users/lukemanley/followers,https://api.github.com/users/lukemanley/follow...,https://api.github.com/users/lukemanley/gists{...,https://api.github.com/users/lukemanley/starre...,https://api.github.com/users/lukemanley/subscr...,https://api.github.com/users/lukemanley/orgs,https://api.github.com/users/lukemanley/repos,https://api.github.com/users/lukemanley/events...,https://api.github.com/users/lukemanley/receiv...,User,False
22,jbrockmendel,8078968,MDQ6VXNlcjgwNzg5Njg=,https://avatars.githubusercontent.com/u/807896...,,https://api.github.com/users/jbrockmendel,https://github.com/jbrockmendel,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/gist...,https://api.github.com/users/jbrockmendel/star...,https://api.github.com/users/jbrockmendel/subs...,https://api.github.com/users/jbrockmendel/orgs,https://api.github.com/users/jbrockmendel/repos,https://api.github.com/users/jbrockmendel/even...,https://api.github.com/users/jbrockmendel/rece...,User,False
23,ELHoussineT,20634657,MDQ6VXNlcjIwNjM0NjU3,https://avatars.githubusercontent.com/u/206346...,,https://api.github.com/users/ELHoussineT,https://github.com/ELHoussineT,https://api.github.com/users/ELHoussineT/follo...,https://api.github.com/users/ELHoussineT/follo...,https://api.github.com/users/ELHoussineT/gists...,https://api.github.com/users/ELHoussineT/starr...,https://api.github.com/users/ELHoussineT/subsc...,https://api.github.com/users/ELHoussineT/orgs,https://api.github.com/users/ELHoussineT/repos,https://api.github.com/users/ELHoussineT/event...,https://api.github.com/users/ELHoussineT/recei...,User,False
24,ELHoussineT,20634657,MDQ6VXNlcjIwNjM0NjU3,https://avatars.githubusercontent.com/u/206346...,,https://api.github.com/users/ELHoussineT,https://github.com/ELHoussineT,https://api.github.com/users/ELHoussineT/follo...,https://api.github.com/users/ELHoussineT/follo...,https://api.github.com/users/ELHoussineT/gists...,https://api.github.com/users/ELHoussineT/starr...,https://api.github.com/users/ELHoussineT/subsc...,https://api.github.com/users/ELHoussineT/orgs,https://api.github.com/users/ELHoussineT/repos,https://api.github.com/users/ELHoussineT/event...,https://api.github.com/users/ELHoussineT/recei...,User,False
25,nafarya,14360016,MDQ6VXNlcjE0MzYwMDE2,https://avatars.githubusercontent.com/u/143600...,,https://api.github.com/users/nafarya,https://github.com/nafarya,https://api.github.com/users/nafarya/followers,https://api.github.com/users/nafarya/following...,https://api.github.com/users/nafarya/gists{/gi...,https://api.github.com/users/nafarya/starred{/...,https://api.github.com/users/nafarya/subscript...,https://api.github.com/users/nafarya/orgs,https://api.github.com/users/nafarya/repos,https://api.github.com/users/nafarya/events{/p...,https://api.github.com/users/nafarya/received_...,User,False
26,nafarya,14360016,MDQ6VXNlcjE0MzYwMDE2,https://avatars.githubusercontent.com/u/143600...,,https://api.github.com/users/nafarya,https://github.com/nafarya,https://api.github.com/users/nafarya/followers,https://api.github.com/users/nafarya/following...,https://api.github.com/users/nafarya/gists{/gi...,https://api.github.com/users/nafarya/starred{/...,https://api.github.com/users/nafarya/subscript...,https://api.github.com/users/nafarya/orgs,https://api.github.com/users/nafarya/repos,https://api.github.com/users/nafarya/events{/p...,https://api.github.com/users/nafarya/received_...,User,False
27,jbrockmendel,8078968,MDQ6VXNlcjgwNzg5Njg=,https://avatars.githubusercontent.com/u/807896...,,https://api.github.com/users/jbrockmendel,https://github.com/jbrockmendel,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/gist...,https://api.github.com/users/jbrockmendel/star...,https://api.github.com/users/jbrockmendel/subs...,https://api.github.com/users/jbrockmendel/orgs,https://api.github.com/users/jbrockmendel/repos,https://api.github.com/users/jbrockmendel/even...,https://api.github.com/users/jbrockmendel/rece...,User,False
28,nafarya,14360016,MDQ6VXNlcjE0MzYwMDE2,https://avatars.githubusercontent.com/u/143600...,,https://api.github.com/users/nafarya,https://github.com/nafarya,https://api.github.com/users/nafarya/followers,https://api.github.com/users/nafarya/following...,https://api.github.com/users/nafarya/gists{/gi...,https://api.github.com/users/nafarya/starred{/...,https://api.github.com/users/nafarya/subscript...,https://api.github.com/users/nafarya/orgs,https://api.github.com/users/nafarya/repos,https://api.github.com/users/nafarya/events{/p...,https://api.github.com/users/nafarya/received_...,User,False
29,NickCrews,10820686,MDQ6VXNlcjEwODIwNjg2,https://avatars.githubusercontent.com/u/108206...,,https://api.github.com/users/NickCrews,https://github.com/NickCrews,https://api.github.com/users/NickCrews/followers,https://api.github.com/users/NickCrews/followi...,https://api.github.com/users/NickCrews/gists{/...,https://api.github.com/users/NickCrews/starred...,https://api.github.com/users/NickCrews/subscri...,https://api.github.com/users/NickCrews/orgs,https://api.github.com/users/NickCrews/repos,https://api.github.com/users/NickCrews/events{...,https://api.github.com/users/NickCrews/receive...,User,False

In [224]:
df1= pd.merge(df.assign(A=1), df2.assign(A=1), on='A').drop('A', 1)

In [225]:
df1

,url_x,repository_url,labels_url,comments_url,events_url_x,html_url_x,id_x,node_id_x,number,title,...,following_url,gists_url,starred_url,subscriptions_url,organizations_url,repos_url,events_url_y,received_events_url,type,site_admin
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46314,1165742668,PR_kwDOAA0YD840Q88A,46314,REF: re-share Period methods,...,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/gist...,https://api.github.com/users/jbrockmendel/star...,https://api.github.com/users/jbrockmendel/subs...,https://api.github.com/users/jbrockmendel/orgs,https://api.github.com/users/jbrockmendel/repos,https://api.github.com/users/jbrockmendel/even...,https://api.github.com/users/jbrockmendel/rece...,User,False
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46314,1165742668,PR_kwDOAA0YD840Q88A,46314,REF: re-share Period methods,...,https://api.github.com/users/ivirshup/followin...,https://api.github.com/users/ivirshup/gists{/g...,https://api.github.com/users/ivirshup/starred{...,https://api.github.com/users/ivirshup/subscrip...,https://api.github.com/users/ivirshup/orgs,https://api.github.com/users/ivirshup/repos,https://api.github.com/users/ivirshup/events{/...,https://api.github.com/users/ivirshup/received...,User,False
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46314,1165742668,PR_kwDOAA0YD840Q88A,46314,REF: re-share Period methods,...,https://api.github.com/users/tswast/following{...,https://api.github.com/users/tswast/gists{/gis...,https://api.github.com/users/tswast/starred{/o...,https://api.github.com/users/tswast/subscriptions,https://api.github.com/users/tswast/orgs,https://api.github.com/users/tswast/repos,https://api.github.com/users/tswast/events{/pr...,https://api.github.com/users/tswast/received_e...,User,False
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46314,1165742668,PR_kwDOAA0YD840Q88A,46314,REF: re-share Period methods,...,https://api.github.com/users/attack68/followin...,https://api.github.com/users/attack68/gists{/g...,https://api.github.com/users/attack68/starred{...,https://api.github.com/users/attack68/subscrip...,https://api.github.com/users/attack68/orgs,https://api.github.com/users/attack68/repos,https://api.github.com/users/attack68/events{/...,https://api.github.com/users/attack68/received...,User,False
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46314,1165742668,PR_kwDOAA0YD840Q88A,46314,REF: re-share Period methods,...,https://api.github.com/users/janosh/following{...,https://api.github.com/users/janosh/gists{/gis...,https://api.github.com/users/janosh/starred{/o...,https://api.github.com/users/janosh/subscriptions,https://api.github.com/users/janosh/orgs,https://api.github.com/users/janosh/repos,https://api.github.com/users/janosh/events{/pr...,https://api.github.com/users/janosh/received_e...,User,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46277,1163194661,PR_kwDOAA0YD840Iirq,46277,BLD: Upload sdist artifact from CI,...,https://api.github.com/users/nafarya/following...,https://api.github.com/users/nafarya/gists{/gi...,https://api.github.com/users/nafarya/starred{/...,https://api.github.com/users/nafarya/subscript...,https://api.github.com/users/nafarya/orgs,https://api.github.com/users/nafarya/repos,https://api.github.com/users/nafarya/events{/p...,https://api.github.com/users/nafarya/received_...,User,False
896,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46277,1163194661,PR_kwDOAA0YD840Iirq,46277,BLD: Upload sdist artifact from CI,...,https://api.github.com/users/nafarya/following...,https://api.github.com/users/nafarya/gists{/gi...,https://api.github.com/users/nafarya/starred{/...,https://api.github.com/users/nafarya/subscript...,https://api.github.com/users/nafarya/orgs,https://api.github.com/users/nafarya/repos,https://api.github.com/users/nafarya/events{/p...,https://api.github.com/users/nafarya/received_...,User,False
897,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46277,1163194661,PR_kwDOAA0YD840Iirq,46277,BLD: Upload sdist artifact from CI,...,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/gist...,https://api.github.com/users/jbrockmendel/star...,https://api.github.com/users/jbrockmendel/subs...,https://api.github.com/users/jbrockmendel/orgs,https://api.github.com/users/jbrockmendel/repos,https://api.github.com/users/jbrockmendel/even...,https://api.github.com/users/jbrockmendel/rece...,User,False
898,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46277,1163194661,PR_kwDOAA0YD840Iirq,46277,BLD: Upload sdist artifact from CI,...,https://api.github.com/users/nafarya/following...,https://api.github.com/users/nafarya/gists{/gi...,https://api.github.com/users/nafarya/starred{/...,https://api.github.com/users/nafarya/subscript...,https://api.github.com/users/nafarya/orgs,https://api.github.com/users/nafarya/repos,https://api.github.com/users/nafarya/events{/p...,https://api.github.com/users/nafarya/received_...,User,False
899,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46277,1163194661,PR_kwDOAA0YD840Iirq,46277,BLD: Upload sdist artifact from CI,...,https://api.github.com/users/NickCrews/followi...,https://api.github.com/users/NickCrews/gists{/...,https://api.github.com/users/NickCrews/starred...,https://api.github.com/users/NickCrews/subscri...,https://api.github.com/users/NickCrews/orgs,https://api.github.com/users/NickCrews/repos,https://api.github.com/users/NickCrews/events{...,https://api.github.com/users/NickCrews/receive...,User,False

In [226]:
df1.columns

Index(['url_x', 'repository_url', 'labels_url', 'comments_url', 'events_url_x',
       'html_url_x', 'id_x', 'node_id_x', 'number', 'title', 'user', 'labels',
       'state', 'locked', 'assignee', 'assignees', 'milestone', 'comments',
       'created_at', 'updated_at', 'closed_at', 'author_association',
       'active_lock_reason', 'draft', 'pull_request', 'body', 'reactions',
       'timeline_url', 'performed_via_github_app', 'login', 'id_y',
       'node_id_y', 'avatar_url', 'gravatar_id', 'url_y', 'html_url_y',
       'followers_url', 'following_url', 'gists_url', 'starred_url',
       'subscriptions_url', 'organizations_url', 'repos_url', 'events_url_y',
       'received_events_url', 'type', 'site_admin'],
      dtype='object')

In [1]:
import pandas as pd

In [2]:
titanic=pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [3]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
titanic.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [5]:
objectColmns=titanic.dtypes[titanic.dtypes=='object'].index

In [6]:
objectColmnsList=list(objectColmns)

In [7]:
objectColmnsList

['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

In [8]:
objectTitanicDf=titanic[objectColmnsList]

In [9]:
objectTitanicDf.head()

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,NaN,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,NaN,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,NaN,S

In [10]:
objectTitanicDf.describe()

                         Name   Sex    Ticket    Cabin Embarked
count                     891   891       891      204      889
unique                    891     2       681      147        3
top     Greenberg, Mr. Samuel  male  CA. 2343  B96 B98        S
freq                        1   577         7        4      644

In [13]:
 l=pd.Series([1,2,3,4,5,6])

In [15]:
l[l==4].index

Int64Index([3], dtype='int64')

In [41]:
x=objectTitanicDf['Cabin'].isnull().index

In [43]:
objectTitanicDf[['Name','Sex']].iloc[x]

                                                  Name     Sex
0                              Braund, Mr. Owen Harris    male
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female
2                               Heikkinen, Miss. Laina  female
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female
4                             Allen, Mr. William Henry    male
..                                                 ...     ...
886                              Montvila, Rev. Juozas    male
887                       Graham, Miss. Margaret Edith  female
888           Johnston, Miss. Catherine Helen "Carrie"  female
889                              Behr, Mr. Karl Howell    male
890                                Dooley, Mr. Patrick    male

[891 rows x 2 columns]

In [48]:
titanic[titanic['Fare']==max(titanic['Fare'])]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
258,259,1,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.3292,NaN,C
679,680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,0,1,PC 17755,512.3292,B51 B53 B55,C
737,738,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.3292,B101,C

In [51]:
titanic['Sex'][titanic['Sex']=='male'].count()

577

In [52]:
titanic['Sex'][titanic['Sex']=='female'].count()

314

In [56]:
titanic['Survived'][titanic['Survived']==1].count()

342

In [57]:
titanic['Survived'][titanic['Survived']==0].count()

549

In [58]:
titanic['Pclass'].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [64]:
titanic['Name'][titanic['Name'].str.startswith("W")==True]

17                          Williams, Mr. Charles Eugene
33                                 Wheadon, Mr. Edward H
55                                     Woolner, Mr. Hugh
58                          West, Miss. Constance Mirium
80                                  Waelens, Mr. Achille
102                            White, Mr. Richard Frasar
123                                  Webber, Miss. Susan
124                          White, Mr. Percival Wayland
133        Weisz, Mrs. Leopold (Mathilde Francoise Pede)
155                          Williams, Mr. Charles Duane
161    Watt, Mrs. James (Elizabeth "Bessie" Inglis Mi...
258                                     Ward, Miss. Anna
304                    Williams, Mr. Howard Hugh "Harry"
318                             Wick, Miss. Mary Natalie
351               Williams-Lambert, Mr. Fletcher Fellows
366     Warren, Mrs. Frank Manley (Anna Sophia Atkinson)
371                            Wiklund, Mr. Jakob Alfred
377                            Widener, Mr. Harry Elkins
406                     Widegren, Mr. Carl/Charles Peter
425                               Wiseman, Mr. Phillippe
450                                West, Mr. Edwy Arthur
472              West, Mrs. Edwy Arthur (Ada Mary Worth)
491                                  Windelov, Mr. Einar
511                                    Webber, Mr. James
515                         Walker, Mr. William Anderson
555                                   Wright, Mr. George
648                                   Willey, Mr. Edward
673                                Wilhelms, Mr. Charles
674                           Watson, Mr. Ennis Hastings
694                                      Weir, Col. John
735                                 Williams, Mr. Leslie
750                                    Wells, Miss. Joan
856           Wick, Mrs. George Dennick (Mary Hitchcock)
Name: Name, dtype: object

In [65]:
titanic['Sum_SibSp_Parch']=titanic['Parch']+titanic['SibSp']

In [79]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sum_SibSp_Parch
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0

In [67]:
titanic['Name'][titanic['Age']<25]

0                  Braund, Mr. Owen Harris
7           Palsson, Master. Gosta Leonard
9      Nasser, Mrs. Nicholas (Adele Achem)
10         Sandstrom, Miss. Marguerite Rut
12          Saundercock, Mr. William Henry
                      ...
875       Najib, Miss. Adele Kiamie "Jane"
876          Gustafsson, Mr. Alfred Ossian
877                   Petroff, Mr. Nedelio
882           Dahlberg, Miss. Gerda Ulrika
887           Graham, Miss. Margaret Edith
Name: Name, Length: 278, dtype: object

In [77]:
titanic.loc[(titanic['Survived']==0) & (titanic['Age'] < 40.0)]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sum_SibSp_Parch
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.250,NaN,S,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.050,NaN,S,0
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.075,NaN,S,4
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.050,NaN,S,0
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.275,NaN,S,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.500,NaN,S,0
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.050,NaN,S,0
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.125,NaN,Q,5
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.000,NaN,S,0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.750,NaN,Q,0